body{
    background-image: url(http://imagenes.4ever.eu/data/download/comida-y-bebida/taza-de-cafe,-granos-de-cafe-217756.jpg?no-logo)
}
header{
    background-color: rgb(110, 114, 111);
    padding: 20px;
   
}
h1{
   position:absolute;
    top: 90px;
    right: 600px;
}
 main{
    background-color: azure;
    width: 500px;
    height: 350px;
    margin: 0 auto;
 }
 form{
    margin: 50px 0;
    text-align: center;
 }
 form label{
   
    display:block;
    font-size:  20px;
    margin:auto 10px;
 }
  footer{
    text-align: center;
    padding: 40px;
    color: bisque;
  }

 