body{
  background-image: url(fondo.jpeg);
  font-family: "Times New Roman", Times, serif;
}
/* Add padding to containers */
.container {
  padding: 16px;
}

header{
  text-align: center;
}

form{
  margin: 0 auto;
  max-width: 500px;
  min-width: 300px;
  width: 60vw;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 80%;
  padding: 15px;
  margin: 8px 0 ;
  display: block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
fieldset{
  border: none;
  padding: 2rem 0 2rem 0;
  border-bottom: 3px solid white;
}

/* Set a style for the submit/register button */
.ingresar{
  background-color: rgb(63, 26, 26);
  color: white;
  padding: 16px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  margin: 0 auto;
  display: block;
  
}




